<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go-Resto Apps</title>
</head>
<body>

    <skipcontent-comp></skipcontent-comp>
    <navbar-comp></navbar-comp>
    <drawer-comp></drawer-comp>
    <hero-comp></hero-comp>
    <content-comp></content-comp>
    <footer-comp></footer-comp>
    
    <!-- <a href="#main_content" class="skip-content">Skip to Content</a>

    <nav class="nav">
        <a class="logo" href="">Go-Resto Apps</a>
            <ul class="nav_list"></ul>
                <li class="nav_item"><a href="#">Home</a></li>
                <li class="nav_item"><a href="#">Favorite</a></li>
                <li class="nav_item"><a href="#">About Us</a></li>
            </ul>
    </nav>

    <div class="menu_resp">
        <div class="button_menu" id="menu"><a href="#">☰</a></div>
        <div class="nav_logo">Go-Resto</div>
        <div class="nav_logo">&nbsp;</div>
    </div>

    <nav id="drawer" class="nav_resp">
        <ul class="nav_list_resp">
            <li class="nav_item_resp"><a href="#">Home</a></li>
            <li class="nav_item_resp"><a href="#">Favorite</a></li>
            <li class="nav_item_resp"><a href="#">About Us</a></li>
        </ul>
    </nav>

    <div class="hero">
        <div class="hero_inner">
            <h1 class="hero_title">Go-Resto Apps</h1>
            <h1 class="hero_tagline">Explore Restaurant That Give All The Things You Want</h1>
        </div>
    </div>

    <main id="main_content">
        <section class="content">
            <div class="new_content">
                <h1>Explore Restaurant</h1>
                <div class="content_item" id="list_content"></div>
            </div>
        </section>
    </main>

    <footer>
        <p>Copyright © 2020 - Go-Resto Apps</p>
    </footer> -->

</body>
</html>
