/* Menu responsive */

.menu_resp {
	background-color: #fff;
	color: black !important;
	width: 100%;
	display: flex;
	font-weight: 600;
	font-size: 20px;
	padding: 10px;
	justify-content: space-between
}
.nav_resp {
	background-color: #fff;
	width: 100%;
	display: flex;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase
}
.nav_list_resp {
	width: 60%;
	padding: 0;
	text-align: left;
	margin: 0;
}
.nav_item_resp {
	line-height: 24px;
	text-transform: uppercase;
	box-sizing: border-box;
	display: inline-block;
	text-align: right;
	color: black !important
}
.button_menu a {
	text-decoration: none;
	color: black !important
}
.nav_resp a {
	display: inline-block;
	padding: 1.3em;
	text-decoration: none
}
